.title{
    color:#3f3f3f;
    margin: 100px 30px 30px 60px;
    width:100%;
    font-size: 1.2em;
    /* grid-area: header; */
    font-weight: 700;
}

.title2 {
    color: #3f3f3f;
    margin: 0 0 30px;
    width: 100%;
    font-size: 1.2em;
    /* grid-area: header; */
    font-weight: 700;
    font-family: 'DM Sans',
    sans-serif;
}

.title, a{
    font-family: 'DM Sans',
    sans-serif;
}

.contactLabel{
    text-align: right;
    padding: 7px;
}

body {
    margin: 0;
    background-color: #f9f9f9;
}

img{
    width: 90%;
    margin: 0 5%;
    
}

.mainImg {
    width: 100%;
    height: 80%;
    margin: 0 5%;
    object-fit: cover;
}

.content {
    /* width:100%;
    height:500px; */
    /* border: 3px red solid; */
    width: 90%;
    height: 100%;
    margin-top: 170px;
    
    align-items: center; */
    /* grid-area: gallery; */
}

.galleryContent{
    grid-area: gallery;
    margin-top: 70px;
}

section{
    height: 70vh;
    display: flex;
    /* justify-content: center; */
    margin-left: 40px;
    align-items: center;
    grid-area: gallery;
    /* background-color: aqua */
}

.hideMenu{
    display:none;
}

.subnav{
    opacity: 0;
    height:0px;
    padding-left:15px;
}



.navBar{
    /* width:150px;*/
    height: 600px; 
    /* border: 2px purple solid; */
    grid-area: sidebar;
    padding-left: 30px;
}

/* Add a black background color to the top navigation */
ul.sidenav {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    /* width: 25%; */
    /* background-color: #f1f1f1; */
    position: fixed;
    height: 100%;
    overflow: auto;
}

a {
    display: block;
    color: #787878;
    padding: 8px 0px;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

ul.sidenav li a:hover:not(.active) {
    text-decoration: underline;
}






#mainIndex {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-gap: 0;
    grid-template-rows: auto;
    grid-template-areas:
        "header gallery"
        "sidebar gallery";
       
}

#mainGallery {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 0;
    grid-template-rows: 150px auto;
    grid-template-areas:
        "header gallery"
        "sidebar gallery";
}


/* 

GALLERY

*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* MOBILE NAV */


.topnav {
    display: none;
    overflow: hidden;
    /* background-color: #333; */
    position: relative;
    grid-area: sidebar;
    margin-top:20px;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    /* background: black; */
    background-image: url("img/hamIcon.png");
    width:20px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    /* background-color: #ddd;
    color: black; */
    text-decoration: underline;
}

.active2 {
    /* background-color: #4CAF50; */
    /* color: white; */
    text-decoration: underline;
}

.topnavTitle{
    font-weight: 700;
    font-family: 'DM Sans',
    sans-serif;
}

.aboutContent{
    grid-area: aboutContent;
    font-family: 'DM Sans',
    sans-serif;
}

.aboutPhoto{
    grid-area: aboutPhoto;
}

.aboutPhoto, .aboutContent{
    margin-top:100px;
}

.aboutPhoto img{
    margin: 16px;
    widows: 100%;
    max-width: 320px;
}

#aboutContainer {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-gap: 0;
    grid-template-rows: 150px auto;
    grid-template-areas:
        "header aboutContent aboutPhoto"
        "sidebar aboutContent aboutPhoto";
}

#contactContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 0;
    grid-template-rows: auto;
    grid-template-areas:
        "header ."
        "sidebar contactContent";
}

.contactContent{
    grid-area: contactContent;
    font-family: 'DM Sans',
    sans-serif;
    margin: 50px;
}

.contactContent table{
    
    margin: 25px auto;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    max-height: 600px;
}

.mySlides img{
    margin: 0;
    width: 100%;
    max-height: 600px;
    object-fit: contain; 
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}






/* 






MEDIA







*/

@media screen and (max-width: 800px) {
    
    .navBar {
        height: 100px;
        grid-area: sidebar;
    }
    
    ul.sidenav {
        width: 100%;
        position: relative;
    }

    /* .sidenav:nth-child(2) a{
        padding-left: 190px;
        color:red;
    } */

    ul.sidenav li a {
        float: left;
        padding: 15px;
    }

    ul.sidenav li:first-child a{
        padding-left: 0px;
    }

    /* div.content {
        margin-left: 0;
    } */

    img{
        margin: 0 30px;
    }

    .title {
        margin: 30px 30px 0;
    }

    .title2{
        margin-left:15px;
    }

    /* #main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 0;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "sidebar sidebar"
            "gallery gallery"
    } */
    #mainIndex, #mainGallery {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 0;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "sidebar sidebar"
            "gallery gallery"
    }

  
    #aboutContainer {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 0;
        grid-template-rows: auto;
        grid-template-areas:
            "sidebar sidebar"
            "aboutContent aboutContent"
    }

    .aboutContent{
        margin: 30px 80px 30px 80px;
    }

    #contactContainer{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-gap: 0;
        grid-template-rows: auto;
        grid-template-areas: 
        "sidebar sidebar"
        "contactContent contactContent"
    }

    /* .aboutPhoto {
        width: 50%;
    } */

    /* 
    
        GALLERY

    */

      .column {
          flex: 50%;
          max-width: 50%;
      }

      .row{
        flex-wrap: nowrap;
        margin: 0 40px;
      }



}

@media screen and (max-width: 450px) {
    .topnav{
        display: block;
    }

    .navBar {
        height: 100%;
        grid-area: sidebar;
        padding: 0;
        display: none;
    }

    ul.sidenav li a {
        text-align: center;
        float: none;
    }
    ul.sidenav, .title{
        margin:30px 0;
        padding:0;
    }
    .title{
        text-align: center;
        margin: 30px 30px 0;
    }

    #mainIndex, #mainGallery {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0;
        grid-template-rows: auto;
        grid-template-areas:
            "sidebar"
            "gallery";
    }

    
    #aboutContainer {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0;
        grid-template-rows: auto;
        grid-template-areas:
            "sidebar"
            "aboutContent"
            ;
    }

    /* .aboutPhoto{
        margin-top:20px;
        width: 50%;
    } */

    .aboutContent {
        margin: 30px 15px;
    }

    img {
        margin: 0;
    }

    .mainImg{
        width: 100%;
        height: 100%;
        margin: 0 5%;
    }

    .title2{
        text-align: center;
    }

   .content{
       margin-top: 10px;
   }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .row {
        flex-wrap: wrap;
    }
    section {
        margin: 0;
    }

}